body{
          background-color: #32cd32;
          color:#e0ffff;
          width: 500px;
          margin-right: auto;
          margin-left: auto;
}

button {
          padding: 5px 20px;
          background-color: #e0ffff;
          border-style: none;
        }

input {
          height: 24.2px;
        }
